<section class=" d-flex justify-content-between p-4 " >
      <!-- Left -->
      <div class="me-5">
        <span class="">Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
      <!-- Right -->
      <div>
        <a href="" class=" me-4">
            <i class="bi bi-facebook fs-5"></i>
        </a>
        <a href="" class=" me-4">
            <i class="bi bi-whatsapp  fs-5"></i>
        </a>
        <a href="" class=" me-4">
            <i class="bi bi-instagram  fs-5"></i>
        </a>
        <a href="" class=" me-4">
            <i class="bi bi-linkedin  fs-5"></i>
        </a>
      </div>
      <!-- Right -->
    </section>