<header class="text-bg-white d-flex justify-content-between align-items-center p-2">
    <div class="logo">
    </div>
     <!-- left -->
    <!-- right -->
    <div class="d-flex align-items-center">
        <span class="bi bi-chat-left text-primary me-3"></span> 
        <span class="bi bi-bell text-primary me-3"></span>
        <div class="profile w-40px h-40px bg-white rounded-circle overflow-hidden">
            <img src="./../../../assets/images/image-thomas.jpg" alt="profile img" class="w-100 h-auto">
        </div>
        <span class="bi bi-chevron-down text-primary fs-6 ms-3 me-2 fw-bold"></span>
       
    </div>
     <!-- right -->
</header>