<header class="text-bg-dark d-flex justify-content-between align-items-center p-4">
   <!-- left -->
    <div class="logo">
        <span  class="d-block text-danger fw-bold">EMPLOYEE </span>
        <span  class="d-block ms-5">MANAGEMENT</span>
        <span  class="d-block text-danger fw-bold">SYSTEM</span>
    </div>
     <!-- left -->
    <!-- right -->
    <div class="d-flex align-items-center">
        <span class="me-2">Thomas </span>
        <div class="profile w-40px h-40px bg-white rounded-circle overflow-hidden">
            <img src="./../../../assets/images/image-thomas.jpg" alt="profile img" class="w-100 h-auto">
        </div>
        <span class="bi bi-caret-down text-white ms-2"></span>
    </div>
     <!-- right -->
</header>