<aside class="p-3 d-flex flex-column justify-content-center align-items-center">
    <div class="logo mb-5">
       <img src="./../../../assets/images/icon-image.jpg" alt="logo">
    </div>
    <ul>
        <li class="pb-4"><span class="bi bi-list text-primary fs-3"></span></li>
        <li class="pb-4"><span class="bi bi-people text-primary fs-3"></span></li>
        <li class="pb-4"><span class="bi bi-window-plus text-primary fs-3"></span></li>
        <li class="pb-4"><span class="bi bi-gear text-primary fs-3"></span></li>
    </ul>
</aside>